.rce-smsg {
  background-color: aqua !important;
}

.rce-mbox.rce-mbox {
  background-color: whitesmoke !important;
}

.rce-mbox.rce-mbox-right {
  background-color: palegreen !important;
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.rce-citem {
  background-color: transparent !important;
}
